@import "tailwindcss";

@layer theme {
  @keyframes cam-flash {
    0%,
    95% {
      opacity: 0;
    }
    97%,
    99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@utility webcam-flash {
  animation: cam-flash 3s 4;
  animation-fill-mode: forwards;
}
